/* reinforces sans-serif */
/* line 2, ../sass/main.scss */
html {
  font-family: sans-serif;
}

/*border radius on navbar looks gross*/
/* line 7, ../sass/main.scss */
nav.navbar {
  border-radius: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 14, ../sass/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 20, ../sass/main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
/* line 24, ../sass/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 32, ../sass/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  /* line 40, ../sass/main.scss */
  .container {
    max-width: 730px;
  }
}
/* line 44, ../sass/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 49, ../sass/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* line 53, ../sass/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 59, ../sass/main.scss */
.marketing {
  margin: 40px 0;
}

/* line 62, ../sass/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* line 71, ../sass/main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 76, ../sass/main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 80, ../sass/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
